In [21]:
import mysql.connector as connector

connection = connector.connect(user = "harvey_elvidge", password = "letsfinishthis80", database="LittleLemonDB")

In [20]:
cursor = connection.cursor()

show_tables_query = '''SHOW tables'''
cursor.execute(show_tables_query)

# Retrieve query results
result = cursor.fetchall()

# Iterate over the results
for row in result:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

('Bookings',)
('Customer_Details',)
('Menu',)
('Order_Delivery_Status',)
('Orders',)
('ordersview',)
('Staff_Information',)

In [22]:
cursor = connection.cursor()

query_with_join = '''
SELECT 
	Customer_Name,
    Contact_Details
FROM CUSTOMER_DETAILS cd
INNER JOIN BOOKINGS b
ON cd.Customer_Details_ID = b.Customer_Details_ID
INNER JOIN ORDERS o
ON b.Bookings_ID = o.Bookings_ID
WHERE o.Total_Cost > 60;
'''
cursor.execute(query_with_join)

# Retrieve query results
result = cursor.fetchall()

# Iterate over the results
for row in result:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

('Michael Johnson', 'michael.johnson@example.com')
('Emily Davis', 'emily.davis@example.com')
('Christopher Anderson', 'christopher.anderson@example.com')
('Jessica Martinez', 'jessica.martinez@example.com')
('Daniel Hernandez', 'daniel.hernandez@example.com')
('Sophia Moore', 'sophia.moore@example.com')
('Joseph Lee', 'joseph.lee@example.com')
('Mia Walker', 'mia.walker@example.com')
('Alexander Allen', 'alexander.allen@example.com')
('Ella Green', 'ella.green@example.com')